.commentCard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  background-color: #fff;
  word-break: break-all;
}

.profileContainer {
  width: 30px;
  height: 30px;
  background-color: #3498db;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

/* Name */
.name {
  font-size: 18px;
  font-weight: bold;
}

/* Comment text */
.commentText {
  font-size: 14px;
  margin-left: 40px;
  width: 85%;
}

.time {
  font-size: 12px;
  padding: 5px;
}

i {
  cursor: pointer !important;
}

/* Add reply button */
.addReplyBtn {
  color: #007bff;
  margin-top: 5px;
  margin-right: 5px;
  border: none;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 5px;
}

/* Show reply button */
.showReplyBtn {
  background-color: #a24242;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
}

.addReplyBtn,
.showReplyBtn {
  transition: background-color 0.3s, color 0.3s;
}
.addReplyBtn:hover,
.showReplyBtn:hover {
  background-color: #aacef4;
}
